@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

// Breakpoint mnanger

// 0-600 range for phone
// 600-900 range is tablet portirat
// 900-1200 range is tablet landscape
// more than 1800 range is big desktop

@mixin mediaMode($device) {
  @if ($device == phone) {
    @media (max-width: 37.5em) {
      // 37.5em = 600px which is phone break point
      @content;
    }
  }

  @if ($device == tabpor) {
    @media (max-width: 56.25em) {
      // 56.25em = 900px which is tablet portirat break point
      @content;
    }
  }

  @if ($device == tablan) {
    @media (max-width: 75em) {
      // 75em = 1200px which is tablet landscape break point
      @content;
    }
  }

  @if ($device == bigdes) {
    @media (min-width: 112.2em) {
      // 112.2em = 1800px which is big desktop break point
      @content;
    }
  }
}
