//Colors

$color-primary: #20c997;
$color-primary-dark: #099268;
$color-primary-light: #69db7c;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray: #777;
$color-white: #fff;
$color-gray-light: #eee;
$color-black: #000;
$color-black-light: #333;

//Grids test

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//tablet lanscape

$gutter-hoizontal-tablan: 5rem;
$grid-main-color: red;

//Font-varibles

$default-font-value: 1.6rem;
