.card {
  //Functionality
  perspective: 115rem;
  -moz-perspective: 115rem;
  height: 52rem;
  position: relative;
  &_side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.25);
    &--fornt {
      background-color: white;
    }
    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }
  &:hover &_side--fornt {
    transform: rotateY(-180deg);
  }
  &:hover &_side--back {
    transform: rotateY(0);
  }

  //Front side stylying
  &_picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }
  }

  &_heading {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-gray-light;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 80%;
  }
  &_heading--span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }
  &_details {
    margin-top: 3rem;
    ul {
      list-style: none;
      width: 70%;
      margin: 0 auto;
      li {
        font-size: $default-font-value;
        text-align: center;
        color: $color-gray;
        padding: 1rem 1.5rem;

        &:not(:last-child) {
          border-bottom: 2px solid $color-gray-light;
        }
      }
    }
  }

  //backside styling

  .card_cta {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .card_pricebox {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 8rem;

    &_only {
      font-size: 1.2rem;
    }

    &_value {
      font-size: 6rem;
      font-weight: 100;
    }
  }

  @include mediaMode(tebpro) {
    display: inline-block;
  }
}
