*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include mediaMode(bigdes) {
    font-size: 75%;
  }

  @include mediaMode(tablan) {
    font-size: 56.25%;
  }

  @include mediaMode(tabpor) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include mediaMode(tablan) {
    padding: 0;
  }
}
