.navigation {
  &_input {
    display: none;
  }

  &_label {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    text-align: center;
    background-color: $color-white;

    @include mediaMode(tablan) {
      top: 2rem;
      right: 2rem;
    }

    @include mediaMode(tabpor) {
      width: 6rem;
      height: 6rem;
      top: 2rem;
      right: 2rem;
    }
  }

  &_background {
    width: 6.5rem;
    height: 6.5rem;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    border-radius: 50%;

    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    transition: all 0.8s cubic-bezier(0.58, 0.13, 0.04, 1.09);
    z-index: 1000;

    @include mediaMode(tablan) {
      top: 2.5rem;
      right: 2.5rem;
    }

    @include mediaMode(tabpor) {
      width: 5.5rem;
      height: 5.5rem;
      top: 2.5rem;
      right: 2.5rem;
    }
  }

  &_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1500;

    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.95, 0.01, 0.04, 1.09);
  }

  &_lists {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    list-style: none;
    width: 100%;
    text-align: center;
    transition: all 1s;
  }

  &_items {
    margin: 2rem;
    transition: all 0.5s;
    display: none;
  }

  &_links {
    &:link,
    &:visited {
      display: inline-block;
      padding: 1rem;
      font-size: 3rem;
      font-weight: 400;
      text-transform: uppercase;
      color: $color-white;
      text-decoration: none;
      background-image: linear-gradient(
        120deg,
        transparent 50%,
        $color-white 50%
      );
      background-size: 230%;

      transition: all 0.5s;
    }

    &:hover {
      background-position: 100%;
      color: $color-primary-light;
      transform: translateX(1rem);
    }

    span {
      margin-right: 1.5rem;
    }
  }

  //Functionality
  &_input:checked ~ &_background {
    transform: scale(80);
  }

  &_input:checked ~ &_nav {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }

  &_input:checked ~ &_nav &_lists {
    transform: translate(-50%, -50%);
  }

  &_input:checked ~ &_nav &_lists &_items {
    display: block;
  }

  ///icons

  &_icon {
    margin-top: 3.5rem;
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.2rem;
      background-color: #333;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }

    @include mediaMode(tabpor) {
      margin-top: 3rem;
    }
  }

  &_input:checked + &_label &_icon {
    background: transparent;
  }

  &_input:checked + &_label &_icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  &_input:checked + &_label &_icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
